/* Reset default margin and disable text selection */
* {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --color-1: white;
  --color-2: black;
  --color-3: #A79B8E;
  --color-4: #FFDA6B;
  --color-5: #050018;
  --camera: 'ABCCameraPlain', sans-serif;
  --font-1: 40px;
  --font-2: 30px;
  --font-3: 20px;
  /*--font-4: 30px;*/
  --font-5: 16px;
  --font-6: 14px;
  --font-7: 12px;
  --spacing-base: 8px;
}

/*
html {
  cursor: url('Images/cursor/star4.png'), auto;
}

button, a {
  cursor: url('Images/cursor/star1.png'), auto;
}

*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--camera);
  background: var(--color-1);
  overscroll-behavior: none;
  /* Prevents the bounce effect */

}









/* Define custom fonts 

In this code:

    font-weight: 400 is for normal weight.
    font-weight: 500 is for medium weight.
    font-weight: 700 is for bold weight.
    font-weight: 800 is for heavy weight.
    font-weight: 900 is for black weight.
    font-style: normal is for regular style.
    font-style: italic is for italic style.
    */


@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-Regular.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-RegularItalic.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-Medium.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-MediumItalic.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-Bold.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-BoldItalic.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-Heavy.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-HeavyItalic.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-Black.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('./fonts/ABCCameraPlainEdu-BlackItalic.woff2') format('woff2'),
    url('./fonts/ABCCameraPlainEdu-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

/*More font-face definitions here...

h1 {
  font-family: var(--camera);
  font-weight: 800;
  font-size: var(--small-font);
  color: var(--blue);
}

h3 {
  font-family: var(--camera);
  font-weight: 200;
  font-size: 1.5em;
} 
*/

.desktop-only{
  display: block;
}

.mobile-only{
  display: none;
}

.mini-only{
  display: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* INTRO SECTION */
.intro-section {
  padding: 2%;
  display: block;
  position: relative;
  height: 25vh;
  width: 82%;
  color: var(--color-2);
  /* Ensure this content is above the intro-gallery */
}

.name {
  font-size: var(--font-1);
  position: fixed;
  top: 20px;
  /* Adjusted top position to prevent overlap */
  z-index: 1000;
}

.name a {
  text-decoration: none;
  color: var(--color-2);
  z-index: 1000;
}

.name a:hover {
  color: var(--color-4);

}

.main-page-intro {
  font-size: var(--font-2);
  max-width: 60%;
  margin-top: 80px;
  /* Adjusted margin-top to provide spacing */
  z-index: 200;
  position: relative;
}

.tell-me-more-container {
  margin-top: 40px;
  z-index: 200;
  position: relative;
}

.tell-me-more-container a {
  color: var(--color-2);
  text-decoration: underline;
}

.tell-me-more {
  font-size: var(--font-2);
  max-width: 60%;
  color: var(--color-2);
  text-decoration: underline;
  z-index: 200;
  position: relative;
}








.intro-gallery {
  width: 80vw;
  margin-left: 2vw;
  height: 30vh;
  background-color: transparent;
  position: relative;
  z-index: 200;
  margin-bottom: 50px;
}

.intro-images {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: absolute;
  z-index: 1;
  /* Default z-index */
  animation: float 5s infinite ease-in-out;
  opacity: 0;
  /* Initially hidden */
  transform: scale(0);
  /* Initially scaled down */


}

/* Float animation to make them move around */
@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(10px, -10px);
  }

  50% {
    transform: translate(-10px, 10px);
  }

  75% {
    transform: translate(10px, 10px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* Stop movement on hover */
.image-wrapper:hover {
  animation-play-state: paused;
}

.intro-images a {
  display: block;
  opacity: 1;
  /* Initially visible */
  transform: scale(1);
  /* Initially scaled down */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, z-index 0s ease-in-out;
}

.intro-images a img {
  transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 200px;
}

/* Hover effect for scaling */
.image-wrapper a:hover .intro-image {
  transform: scale(1.3);
  /* Scale up the image */
  z-index: 10000;
  /* Bring it to the front */
  transition: transform 0.5s ease;
  /* Smooth scaling */
}

/* No need for another hover effect on the image itself */
.intro-image {
  z-index: 1;
  /* Default z-index */
  filter: drop-shadow(0px 2px 5px black);
}










.scroll-height {
  transition: height 0.4s ease-out;
  height: 40vh;
  /* Initial height */
}

.scroll-minimise {
  transform-origin: top right;
  transition: transform 0.5s ease-out;

}

.scroll-minimise-text {
  transform-origin: left top;
  transition: transform 0.5s ease-out;
}

.scroll-minimise-center {
  transform-origin: top center;
  transition: transform 0.5s ease-out;
}







/* SIDE MENU */


.two-menus {
  display: flex;
  position: relative;
  z-index: 280;
  padding: 2%;
  flex-direction: row-reverse;
  margin-left: 50vw;
}

.extra-menu {
  display: flex;
  position: fixed;
  z-index: 285;
  height: auto;
  width: 1%;
  top: 0%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 1%;
  margin-top: 1%;
  margin-right: calc(13vw - (13vw - 100px) / 2 + 5px);
}

.side-menu-container {
  display: block;
  position: fixed;
  z-index: 280;
  height: auto;
  width: 13vw;
  top: 0%;
  right: 2%;
  padding-top: 1%;
  margin-top: 1%;
}

.side-menu {
  position: static;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}




.menu-button {
  color: var(--color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: var(--font-3);
}

.menu-button {
  transition: background-color 0.1s ease-in-out;
  /* Duration for gaining color */
}

.menu-button.lose-color {
  transition: background-color 0.8s ease-in-out;
  /* Duration for losing color */
}

.menu-button a {
  color: var(--color-2);
  text-decoration: none;
}

.link-reads {
  cursor: not-allowed;
}

.reads {
  color: var(--color-3);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: var(--font-3);
}

.pretend-button {
  background-color: var(--color-1)e;
  border-radius: 40px;
  border: 1px solid #000;
  padding: 3px;
  opacity: 0;
}

.active-menu {
  color: var(--color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid #000;
  font-size: var(--font-3);
  background-color: var(--color-1);
  filter: drop-shadow(0px 1px 4px var(--color-2));

}


.menu-button:hover {
  color: var(--color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid var(--color-2);
  font-size: var(--font-3);
}

.toggled {
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  filter: drop-shadow(0px 1px 4px var(--color-2));
}

.contact-categories-container {
  display: flex;
  background-color: var(--color-1);
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid var(--color-2);
  width: 350px;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(+200%);
  /* Initially position the element off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Transition both opacity and transform */
}


.contact-categories-container.visible {
  opacity: 1;
  transform: translateX(0);
  /* Slide in to its original position */
  filter: drop-shadow(0px 1px 4px var(--color-2));
}


.link {
  margin-left: 2px;
  margin-right: 2px;
}

.link:hover {
  text-decoration: underline;
}

.contact-categories-container a {
  text-decoration: none;
  color: var(--color-2);
}

.mode-categories-container {
  display: flex;
  background-color: var(--color-1);
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid var(--color-2);
  width: 140px;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(+200%);
  /* Initially position the element off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Transition both opacity and transform */
  color: var(--color-2);

}

.mode-categories-container.visible {
  opacity: 1;
  transform: translateX(0);
  /* Slide in to its original position */
  filter: drop-shadow(0px 1px 4px var(--color-2));
}

.link {
  padding: 5px;

}

.mode-button {
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--color-2);
}

.mode-button:hover {
  color: var(--color-3);

}



.filter-category-title {
  font-size: var(--font-4);
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.filter-categories-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: var(--color-1);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  border: 1px solid var(--color-2);
  width: 12vw;
  max-width: 12vw;
  margin-right: 2vw;
  margin-left: 2vw;
  justify-content: space-between;
  transform: translateX(+200%);
  /* Initially position the element off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Transition both opacity and transform */
  color: var(--color-2);
}

.role-categories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;

}

.form-categories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7px;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-category-button {
  border-radius: 4px;
  border: 1px solid var(--color-2);
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--color-1);
  margin-bottom: 7px;
  font-size: var(--font-6);
  text-align: center;
  transition: background-color 0.5s ease;
}

.form-category-button:hover {
  background-color: var(--color-3);
}

.role-category-button {
  border-radius: 20px;
  border: 1px solid var(--color-2);
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--color-1);
  margin-bottom: 7px;
  font-size: var(--font-6);
  text-align: center;
  transition: background-color 0.5s ease;
}

.role-category-button:hover {
  background-color: var(--color-3);
}

.selected {
  background-color: var(--color-1);
  /* Change this color to whatever you prefer for selected state */
}

.filter-categories-container.visible {
  opacity: 1;
  transform: translateX(0);
  /* Slide in to its original position */
  filter: drop-shadow(0px 1px 4px var(--color-2));
}

.link-map {
  font-size: var(--font-);
  position: fixed;
  display: flex;
  color: var(--color-2);
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  text-transform: uppercase;
  text-decoration: none;
  width:12vw;
  max-width: 15vw;
  height: 60px;
  border-radius: 10px;
  right: 2%;
  bottom: 3%;
  z-index: 200;
  filter: drop-shadow(0px 1px 4px var(--color-2));
  transition: bottom 0.5s ease-in-out;
  cursor: not-allowed;
  padding: 5px;

}

/* PROJECTS SECTION */
.projects-section {
  display: block;
  position: relative;
  height: auto;
  width: 81vw;
  z-index: 0;
  overflow-y: auto;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--color-2);
}

.projects-arrows {
  display: flex;
  height: auto;
  margin-bottom: 20px;
  font-size: var(--font-2);
  justify-content: space-between;
  transition: opacity 0.5s ease;
}

.projects-arrows-spacer {
  height: 2px;
  transition: height 0.3s ease;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Creates 2 equal columns */
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.project-container {
  margin-bottom: 20PX;
  opacity: 1;
  /* Fully visible by default */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Smooth transition for opacity and transform */
  transform: translateY(0);
  /* Initial position */
  margin-bottom: 10px;
}

.project-container.hidden {
  opacity: 0;
  /* Fully transparent */
  transform: translateY(20px);
  /* Slide down effect when hiding */
  pointer-events: none;
  /* Prevent interaction when hidden */
}

.project-images {
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  overflow-x: auto;
  padding: 30px;
  scrollbar-width: none;
  margin-bottom: 10px;


}

.back-1 {
  background-image: url('Images/projects/lectorate/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-2 {
  background-image: url('Images/projects/basketology/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-3 {
  background-image: url('Images/projects/eyeofjeronimo/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-4 {
  background-image: url('Images/projects/apophenictaxonomies/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-5 {
  background-image: url('Images/projects/selectivehoarding/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-6 {
  background-image: url('Images/projects/femtech/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-7 {
  background-image: url('Images/projects/creativity/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.back-8 {
  background-image: url('Images/projects/howithappened/background_image.webp');
  /* Path to your image */
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the image within the div */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}



.project-images:hover {
  animation-play-state: paused;
  /* Stop animation when hovered */
}

.project-images img {
  max-height: 200px;
  margin-right: 30px;
  filter: drop-shadow(5px 5px 5px #222);
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.project-other-details {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-left {
  max-width: 100%;
}

.project-title-and-year {
  display: flex;
  align-items: left;
  margin-right: 10px;
}

.project-mini-description {
  font-size: var(--font-5);
  margin-right: 5px;

}

.home-project-title {
  margin: 0;
  font-size: var(--font-2);
}

.project-year {
  font-size: var(--font-6);
  color: var(--color-2);
  margin-top: 0;
  margin-left: 5px;
}

.description-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.format-categories,
.role-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 5px;
  overflow: hidden; /* Prevent overflow of content */
    width: auto;

}

  .role-categories {
padding-right: 20px;
  }

.category {
  padding: 2px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--color-2);
  font-size: var(--font-7);
  text-align: center;
}

.format-category {
  border-radius: 3px;
}

.role-category {
  border-radius: 20px;
}

.view-project {
  display: none;
  margin-top: 10px;
  color: var(--color-2);
  text-decoration: none;
  border-radius: 5px;
  font-size: var(--font-3);
  margin-right: 10px;
}

.view-project:hover {
  text-decoration: underline;
}


/* BOTTOM SECTION */

.footer {
  padding: 2%;
  height: 500px;
  background: linear-gradient(var(--color-1), var(--color-3));
  bottom: 0;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: var(--color-2);
}

.top-section {
  display: block;
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 200px;
  font-size: var(--font-2);
}

.bottom-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 0;
  box-sizing: border-box;
  font-size: var(--font-5);

}

.footer-contact {
  display: flex;
  position: absolute;
  bottom: 0;
  min-width: 25%;
  max-width: 50%;
  justify-content: space-between;
  padding: 5px;
  color: var(--color-2);
  gap: 10px;
}

.footer-contact a {
  text-decoration: none;
  color: var(--color-2);
  padding-right: 5px;
  
}

.footer-contact a:hover {
  text-decoration: underline;
}

.developer-info {
  display: flex;
  position: absolute;
  bottom: 0;
  min-width: 30%;
  max-width: 100%;
  padding: 5px;
  text-align: right;
  justify-content: flex-end;
  /* Align items to the right */
  right: 0%;
}

.get-in-touch {
  color: var(--color-2);
  text-decoration: underline;
  transition: transform 0.5s ease-out;
}

.get-in-touch:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}

















/* ABOUT SECTION */
.intro-section-regular {
  padding: 2%;
  display: block;
  position: relative;
  height: 5vh;
  width: 82%;
  color: var(--color-2);
}

.about-section {
  width: 70vw;
  margin-left: 2%;
  font-size: var(--font-3);
  color: var(--color-2);
  max-width: 610px;
}

.about-section p {
  margin-bottom: 20px;
}

.about-section a {
  text-decoration: underline;
  color: var(--color-2);
}

.cv a {
  text-decoration: none;
  color: var(--color-2);
}

.cv-button {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid var(--color-2);
  border-radius: 20px;
  text-decoration: none;
  color: var(--color-2);
  transition: background-color 0.3s, color 0.3s;
}

.cv-button:hover {
  background-color: var(--color-2);
  color: var(--color-1);
}

.about-education {
  margin-top: 120px;
}

.about-education-title {
  margin-bottom: 40px;
}

.about-education a {
  text-decoration: underline;
  color: var(--color-2);
}


.about-previously {
  margin-top: 120px;
}

.about-previously-title {
  margin-bottom: 40px;
}


.event {
  display: flex;
  margin-bottom: 10px;
}


.event-name {
  font-style: italic;
}

.date {
  width: 30%;
}

.details {
  width: 70%;
  text-decoration: none;
}

.details a {
  text-decoration: underline;
  color: var(--color-2);
}
















/* PROJECT PAGE SECTION */
.project-italic {
  font-style: italic;
}



.project-section {
  margin-left: 2%;
  width: 81vw;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--color-2);

}

.name-regular {
  position: fixed;
  top: 20px;
  /* Adjusted top position to prevent overlap */
  z-index: 1000;
  font-size: var(--font-2);

}

.name-regular a {
  color: var(--color-2);

}

.name-regular a:hover {
  color: var(--color-4);

}



.project-intro {
  width: 40vw;
  position: fixed;
  padding-bottom: clamp(50px, 10vw, 200px);
}

.project-scrollable {
  overflow: scroll;
}

.project-title {
  font-size: var(--font-1);
  margin-bottom: 40px;

}

.intro-columns {
  display: flex;
  justify-content: space-between;
}

.column-left {
  min-width: 15%;
}

.column-right {
  width: 82%;
  margin-left: 20px;
}

.project-text {
  margin-top: 20px;
  font-size: var(--font-6);
}


.project-details {
  width: 40vw;
  margin-left: 41vw;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* Create 5 equal columns */
  gap: 10px;
  /* Adjust the gap between the images if needed */

}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5 
.img-6,
.img-7,
.img-8,
.img-9,
.img-10 {
  width: 100%;
  /* Make all images full width */
}

.img-10 {
  grid-column: span 10;
}

.img-9 {
  grid-column: span 9;
}

.img-8 {
  grid-column: span 8;
}

.img-7 {
  grid-column: span 7;
}

.img-6 {
  grid-column: span 6;
}

.img-5 {
  grid-column: span 5;
}

.img-4 {
  grid-column: span 4;
}

.img-3 {
  grid-column: span 3;
}

.img-2 {
  grid-column: span 2;
}

.img-1 {
  grid-column: span 1;
}

video {
  width: 100%;
  height: auto; /* Ensures the video maintains its aspect ratio */
  object-fit: cover; /* Optional: Makes sure the video scales properly inside its container */
}

.gallery img {
  width: 100%;
  height: auto;
  /* Maintain the aspect ratio */
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

video {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}


.research-process {
  width: 70%;
  border: 1px solid var(--color-2);
  background-color: var(--color-3);
  padding: 20px;
  margin-left: 0px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  /* Add overflow hidden to contain the unfolded content */
  transition: max-height 0.5s ease-in-out;
  max-height: 50px;
  /* Initial height when folded */
  min-width: 210px;
  margin-bottom: 50px;
}

.folded {
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: var(--font-3);
}

.research-process img {
  width: 100%;
  padding-bottom: 10px;
}

.unfolded {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  padding-bottom: 100px;
}

.unfolded p {
  padding-bottom: 10px;
}

.research-process.active .unfolded {
  opacity: 1;
}




















.section-see-also {
  padding-top: 200px;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  color: var(--color-2);
  width: 80vw;
}

.see-also {
  text-align: center;
  font-size: var(--font-2);
  margin-bottom: 60px;
}

.related-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four columns */
  gap: 20px; /* Increase gap between grid items */
  width: 100%;
  overflow: hidden; /* Hide any overflowed items */
}

.related-project-details {
  position: relative;
  border: 1px solid var(--color-2);
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 0px;
  padding: 10px;
  margin-top: -1px;
  text-align: left;
  gap:10px;
}

.related-project {
  text-align: center;
  align-items: center;
  position: relative; /* Make the parent div relative to position the link */
}

.related-project-image {
  border: 1px solid var(--color-2);
  overflow: hidden;
  align-items: center;
  position: relative;
  height: 200px;
}

.related-project-link {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Center the link */
  background-color: var(--color-3);
  padding: 10px 50px;
  border-radius: 60px;
  text-decoration: none;
  z-index: 1;
  filter: drop-shadow(0px 2px 5px var(--color-2));
  font-size: var(--font-2);
}

.related-project-link:hover {
  background-color: var(--color-2);
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px var(--color-1));
}

.related-project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}





@media (max-width: 768px) {

  :root {

    --font-1: 30px !important;
    --font-2: 24px !important;
    --font-3: 18px !important;
    --font-4: 15px !important;
    --font-5: 14px !important;
    --font-6: 13px !important;
    --font-7: 12px !important;
    --spacing-base: 8px;
  }

  .desktop-only{
    display: none;
  }
  
  .mobile-only {
    display: block !important;
  }
  
  .mini-only{
    display: none;
  }
  

  
    

  .container {
    width: 100%;
    /* Full width on smaller devices */
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on smaller screens */
  }

  :root {
    --color-1: white;
    --color-2: black;
    --color-3: #A79B8E;
    --color-4: #FFDA6B;
    --color-5: #050018;
    --camera: 'ABCCameraPlain', sans-serif;
    --font-1: 28px;
    --font-2: 25px;
    --font-3: 20px;
    /*--font-4: 30px;*/
    --font-5: 14px;
    --font-6: 14px;
    --font-7: 12px;
    --spacing-base: 8px;
  }


  /* INTRO SECTION */
  .intro-section {
    padding: 2%;
    display: block;
    position: relative;
    height: 33vh;
    width: 75%;
  }

  .main-page-intro {
    max-width: 90%;
  }

  .tell-me-more {
    max-width: 60%;
  }

  .intro-gallery {
    height: 42vh;
    width: 96vw;
  }

  .intro-images a {
    display: none;

  }




  /* SIDE MENU */


  .two-menus {
    display: flex;
    position: relative;
    z-index: 280;
    padding: 2%;
    flex-direction: row-reverse;
    margin-left: 50vw;
  }
  
  .extra-menu {
    display: flex;
    position: fixed;
    z-index: -50;
    height: auto;
    width: 1%;
    top: 0%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 1%;
    margin-top: 4%;
    margin-right: calc(13vw - (13vw - 130px) / 2 + 10px); 

  }
  
  .side-menu-container {
    display: block;
    position: fixed;
    z-index: 280;
    height: auto;
    width: 13vw;
    top: 0%;
    right: 5%;
    padding-top: 1%;
    margin-top: 4%;
  }
  
  .side-menu {
    position: static;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  
  
  .menu-button {
    color: var(--color-2);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    font-size: var(--font-3);
  }
  
  .menu-button {
    transition: background-color 0.1s ease-in-out;
    /* Duration for gaining color */
  }
  
  .menu-button-mobile.lose-color {
    transition: background-color 0.8s ease-in-out;
    /* Duration for losing color */
  }
  
  .menu-button-mobile a {
    color: var(--color-2);
    text-decoration: none;
  }
  
  .link-reads {
    cursor: not-allowed;
  }
  
  .reads {
    color: var(--color-3);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    font-size: var(--font-3);
  }
  
  .pretend-button {
    background-color: var(--color-1)e;
    border-radius: 40px;
    border: 1px solid #000;
    padding: 3px;
    opacity: 0;
    font-size: var(--font-3);
  }
  
  .active-menu {
    color: var(--color-2);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    border-radius: 40px;
    border: 1px solid #000;
    font-size: var(--font-3);
    background-color: var(--color-1);
    filter: drop-shadow(0px 1px 4px var(--color-2));
  
  }
  
  
  .menu-button:hover {
    color: var(--color-2);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    border-radius: 40px;
    border: 1px solid var(--color-2);
    font-size: var(--font-3);
  }
  
  .toggled {
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    filter: drop-shadow(0px 1px 4px var(--color-2));
  }
  
  .contact-categories-container-mobile {
    display: flex;
    background-color: var(--color-1);
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 6px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-2);
    width: 310px;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(+200%);
    /* Initially position the element off-screen to the left */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    /* Transition both opacity and transform */
 
  }
  
  
  .contact-categories-container-mobile.visible {
    opacity: 1;
    transform: translateX(0);
    /* Slide in to its original position */
    filter: drop-shadow(0px 1px 4px var(--color-2));
  }
  
  
  .link {
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .contact-categories-container-mobile a {
    text-decoration: none;
    color: var(--color-2);
  }
  
  .mode-categories-container-mobile {
    margin-top: 3px;
    display: flex;
    background-color: var(--color-1);
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid var(--color-2);
    width: 130px;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(+200%);
    /* Initially position the element off-screen to the left */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    /* Transition both opacity and transform */
    color: var(--color-2);
  
  }
  
  .mode-categories-container-mobile.visible {
    opacity: 1;
    transform: translateX(0);
    /* Slide in to its original position */
    filter: drop-shadow(0px 1px 4px var(--color-2));
  }
  
  .link {
    padding: 5px;
  
  }
  
  .mode-button {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    color: var(--color-2);
  }
  
  .mode-button:hover {
    color: var(--color-3);
  
  }
  
  
  
  .filter-category-title {
    font-size: var(--font-4);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .filter-categories-container-mobile {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: var(--color-1);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-2);
    width: 180px;
    margin-right: 10px;
    justify-content: space-between;
    transform: translateX(+200%);
    /* Initially position the element off-screen to the left */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    /* Transition both opacity and transform */
    color: var(--color-2);
  }
  
  .role-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  
  }
  
  .form-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form-category-button {
    border-radius: 4px;
    border: 1px solid var(--color-2);
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: var(--color-1);
    margin-bottom: 7px;
    font-size: var(--font-6);
    text-align: center;
    transition: background-color 0.5s ease;
  }
  
  .form-category-button:hover {
    background-color: var(--color-3);
  }
  
  .role-category-button {
    border-radius: 20px;
    border: 1px solid var(--color-2);
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: var(--color-1);
    margin-bottom: 7px;
    font-size: var(--font-6);
    text-align: center;
    transition: background-color 0.5s ease;
  }
  
  .role-category-button:hover {
    background-color: var(--color-3);
  }
  
  .selected {
    background-color: var(--color-1);
    /* Change this color to whatever you prefer for selected state */
  }
  
  .filter-categories-container-mobile.visible {
    opacity: 1;
    transform: translateX(0);
    /* Slide in to its original position */
    filter: drop-shadow(0px 1px 4px var(--color-2));
  }
  
  .link-map-mobile {
    font-size: var(--font-4);
    position: fixed;
    display: flex;
    color: var(--color-2);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    text-transform: uppercase;
    text-decoration: none;
    width: 16vw;
    min-height: 70px;
    border-radius: 10px;
    right: 3%;
    bottom: 3%;
    z-index: 200;
    filter: drop-shadow(0px 1px 4px var(--color-2));
    transition: bottom 0.5s ease-in-out;
    cursor: not-allowed;
  
  }

  /* PROJECTS SECTION */

  .projects-section {
    display: block;
    position: relative;
    height: auto;
    width: 76vw;
    z-index: 0;
    overflow-y: auto;
    padding-left: 2%;
    padding-right: 2%;
    color: var(--color-2);
  }
  

  .projects-arrows-mobile {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    font-size: var(--font-2);
    justify-content: space-between;
    transition: opacity 0.5s ease;
  }
  
  .projects-arrows-spacer {
    height: 2px;
    transition: height 0.3s ease;
  }


  .projects-list {
    display: block;
  }
  
  .project-container {
    opacity: 1;
    /* Fully visible by default */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Smooth transition for opacity and transform */
    transform: translateY(0);
    /* Initial position */
    margin-bottom: 30px;
  }
  
  .project-container.hidden {
    opacity: 0;
    /* Fully transparent */
    transform: translateY(20px);
    /* Slide down effect when hiding */
    pointer-events: none;
    /* Prevent interaction when hidden */
  }
  
  .project-images {
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    overflow-x: auto;
    padding: 30px;
    scrollbar-width: none;
    margin-bottom: 10px;
  
  
  }

 

  .project-section-mobile {
  margin-left: 4vw;
  max-width: 92vw;
  margin-right: 2%;
  display: block;
  color: var(--color-2);
  }

  .project-intro-mobile {
    display:block;
    padding-bottom: 20px;
    position: static;
    height: auto;
    max-width: 75vw;
  }

  .project-details-mobile {
    display:block;
    position: static;
    height: auto;
  }


  .project-images img {
    max-height: 150px;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding-bottom: 0px;
  }
  



  .top-project-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
  }
  
  .project-title-and-year {
    align-items: left;
  }

  .view-project-container {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 10px;
  }

  .view-project {
    display: none;
    color: var(--color-2);
    text-decoration: none;
    font-size: var(--font-3);
    text-align: end;
  }
  
  .view-project:hover {
    text-decoration: underline;
  }




  
  .project-mini-description-mobile {
    font-size: var(--font-5);
    margin-right: 5px;
  
  }
  
  .home-project-title {
    margin: 0;
    font-size: var(--font-2);
  }
  
  .project-year {
    font-size: var(--font-6);
    color: var(--color-2);
    margin-top: 0;
    margin-left: 5px;
  }
  
  .project-other-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
  }
  
  .description-right {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    gap:0px;
    max-width: 100%;
    align-items: flex-start; /* Align items to the top/left */
    justify-content: flex-start;
  }
  
  .role-categories,
  .format-categories {
    display: flex;
    flex-wrap: wrap; /* This will wrap items to the next line within their container if necessary */
    gap: 1px; /* Add space between categories */
    word-wrap: break-word; /* Ensure text breaks into the next line if needed */
    overflow: hidden; /* Prevent overflow of content */
    width: auto;
  }

  .role-categories {
padding-right: 20px;
  }
  
  
  .category {
    border: 1px solid black;
    padding: 2px 6px;
    border-radius: 15px;
    margin-bottom: 2px;
    border: 1px solid var(--color-2);
    font-size: var(--font-7);
    text-align: center;
  }
  
  .description-left-mobile {
    max-width: 100%;
    margin-top: 5px;
  }
  
  .format-category {
    border-radius: 3px;
  }
  
  .role-category {
    border-radius: 20px;
  }
  

  
  
















  .project-description {
    margin-left: 5px;
  }

  .description-left {
    max-width: 20%;
  }


  /* BOTTOM SECTION */

  .footer {
    justify-content: space-between;
    overflow: hidden;
    color: var(--color-2);
    height: 350px;
  }

  .top-section {
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: var(--font-2);
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    font-size: var(--font-6);
  
  }


  .footer-contact {
  display: flex;
  position: absolute;
  bottom: 0;
  min-width: 25%;
  max-width: 50%;
  justify-content: space-between;
  padding: 5px;
  color: var(--color-2);
  gap: 5px;
}

.footer-contact a {
  text-decoration: none;
  color: var(--color-2);
  padding-right: 5px;
  
}

.footer-contact a:hover {
  text-decoration: underline;
}

.developer-info {
  display: flex;
  position: absolute;
  bottom: 0;
  min-width: 30%;
  max-width: 50%;
  padding: 5px;
  text-align: right;
  justify-content: flex-end;
  /* Align items to the right */
  right: 0%;
}

  .footer-contact {
    width: 40%;
  }

  .developer-info {
    width: 45%;
  }






  /* ABOUT SECTION */
  .intro-section-regular {
    padding: 4%;
    height: 5vh;
  }

  .about-section {
    width: 70%;
    margin-left: 4%;
    font-size: var(--font-4);
  }








  /* PROJECT PAGE SECTION */


  .project-section {
    margin-left: 4%;
    width: 96vw;
  }


  .project-intro {
    width: 92vw;
    position: absolute;
    padding-bottom: 100px;
    overflow: scroll;

  }


  .project-details {
    width: 92vw;
    margin-left: 0vw;
  }


  .gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* Create 5 equal columns */
    gap: 10px;
    /* Adjust the gap between the images if needed */
  
  }
  
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5 
  .img-6,
  .img-7,
  .img-8,
  .img-9,
  .img-10 {
    width: 100%;
    /* Make all images full width */
  }
  
  .img-10 {
    grid-column: span 10;
  }
  
  .img-9 {
    grid-column: span 9;
  }
  
  .img-8 {
    grid-column: span 8;
  }
  
  .img-7 {
    grid-column: span 7;
  }
  
  .img-6 {
    grid-column: span 6;
  }
  
  .img-5 {
    grid-column: span 5;
  }
  
  .img-4 {
    grid-column: span 4;
  }
  
  .img-3 {
    grid-column: span 3;
  }
  
  .img-2 {
    grid-column: span 2;
  }
  
  .img-1 {
    grid-column: span 1;
  }
  
  video {
    width: 100%;
    height: auto; /* Ensures the video maintains its aspect ratio */
    object-fit: cover; /* Optional: Makes sure the video scales properly inside its container */
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    /* Maintain the aspect ratio */
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }
  
  video {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }




  .section-see-also {
    padding-top: 200px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    color: var(--color-2);
    width: 96vw;
  }
  
  .see-also {
    text-align: center;
    font-size: var(--font-2);
    margin-bottom: 60px;
  }
  
  .related-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Four columns */
    gap: 20px; /* Increase gap between grid items */
    width: 100%;
    overflow: hidden;
  }
  
  .related-project-details {
    position: relative;
    border: 1px solid var(--color-2);
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 0px;
    padding: 10px;
    margin-top: -1px;
  }
  
  .related-project {
    text-align: center;
    align-items: center;
    position: relative; /* Make the parent div relative to position the link */
  }
  
  .related-project-image {
    border: 1px solid var(--color-2);
    overflow: hidden;
    align-items: center;
    position: relative;
    height: 200px;
  }
  
  .related-project-link {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Center the link */
    background-color: var(--color-3);
    padding: 10px 50px;
    border-radius: 60px;
    text-decoration: none;
    z-index: 1;
    filter: drop-shadow(0px 2px 5px var(--color-2));
    font-size: var(--font-2);
  }
  
  .related-project-link:hover {
    background-color: var(--color-2);
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px var(--color-1));
  }
  
  .related-project-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }











/* For devices with a max width of 480px (mobile phones) */
@media (max-width: 480px) {

  .desktop-only{
    display: none one !important; /* Force hiding */

  }
  .mobile-only {
    display: none !important; /* Force hiding */
}

.mini-only {
    display: block !important; /* Force visibility */
}


:root {

  --font-1: 30px !important;
  --font-2: 24px !important;
  --font-3: 18px !important;
  --font-35: 16px !important;
  --font-4: 12px !important;
  --font-5: 14px !important;
  --font-6: 13px !important;
  --font-7: 12px !important;
  --spacing-base: 8px;
}


.blur-container {
  background: linear-gradient(to bottom, var(--color-1) 20%, rgba(var(--color-1), 0) 100%);
  backdrop-filter: blur(3px); /* Apply blur to the background */
  -webkit-backdrop-filter: blur(2px); /* For Safari support */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 25px;
  width: 100vw;
  z-index: 800;
  overflow: hidden;
}


  /* INTRO SECTION */
  .intro-section-mini {
    margin-left: 4%;
    margin-right: 4%;
    display: block;
    position: relative;
    height: auto;
    width: 92vw;
    padding: 0%;
    margin-bottom: 20px;
    color: var(--color-2);
    z-index: 1000;
  }

  .name {
    font-size: var(--font-1);
    position: fixed;
    top: 20px;
    /* Adjusted top position to prevent overlap */
    z-index: 1000;
  }

  .intro-lower-section-mini {
    z-index: 1000;
  }
  
  .name a {
    text-decoration: none;
    color: var(--color-2);
    z-index: 1000;
  }
  
  .name a:hover {
    color: var(--color-4);
  
  }

  .main-page-intro {
    max-width: 90%;
  }

  .tell-me-more {
    max-width: 60%;
  }

  

/* MENU MINI */

.menu-mini {
  font-size: var(--font-5);
  position: sticky;
  top: 20px; /* Adjust according to the height of the name element */
  height:80px;
  z-index: 1000;
  margin-left: 3%;
  margin-right: 3%;
  width: 94vw;
}

.menu-mini-main{
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.3s ease; /* Optional smooth transition */

}

.top-menu-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-3);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  border-radius: 40px;
  gap: 5px;
}


.menu-button-mini {
  text-align: center;
  color: var(--color-2);
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: var(--font-5);
  transition: background-color 0.1s ease-in-out;
}

.menu-button-mini a {
  color: var(--color-2);
  text-decoration: none;
}

.menu-button-mini:hover {
  color: var(--color-2);
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  border-radius: 40px;
  border: 1px solid var(--color-2);
  font-size: var(--font-5);
}

.active-menu-mini {
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  filter: drop-shadow(0px 1px 4px var(--color-2));
}

.not-available {
  opacity: 0.2;
  text-align: center;
  color: var(--color-2);
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: var(--font-5);
  transition: background-color 0.1s ease-in-out;
}

.bottom-menu-container {
  display: none;
  background-color: var(--color-1);
}

.bottom-menu-container a {
  text-decoration: none;
  color: var(--color-2);
}


.bottom-menu-container.active {
  font-size: var(--font-5);
  display: flex;
  filter: drop-shadow(0px 1px 4px var(--color-2));
  border: 1px solid var(--color-2);
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  margin-bottom: 5px;
 
}

.link:hover {
  text-decoration: underline;
}

.bottom-menu-filter{
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 5px;
  gap: 5px;
  color: var(--color-2);
}

.role-category-title-mini{
  height: auto;
  width:10%;
  padding-right: 20px;
}

.form-category-title-mini{
  height: auto;
  width:10%;
  padding-right: 20px;
}

.role-categories-container-mini{
  display: flex;
  flex-direction: row;
  width: auto;
}

.form-categories-container-mini{
  display: flex;
  flex-direction: row;
  width: auto;
}

.actual-categories-mini{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  width:85%;

}

.role-category-button {
  font-size: var(--font-7);
  margin-right: 6px;
  margin-bottom: 5px;
}

.form-category-button {
  font-size: var(--font-7);
  margin-right: 6px;
  margin-bottom: 5px;
}


/* MOVING GALLERY */


.intro-gallery {
  height: 42vh;
  width: 96vw;
}

.intro-images a {
  display: none;

}










  .link-map-mini {
    font-size: var(--font-4);
    position: fixed;
    display: flex;
    color: var(--color-2);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    text-transform: uppercase;
    text-decoration: none;
    width: auto;
    min-height: 30px;
    padding: 10px;
    border-radius: 10px;
    right: 3%;
    bottom: 30px;
    z-index: 200;
    filter: drop-shadow(0px 1px 4px var(--color-2));
    transition: bottom 0.5s ease-in-out;
    cursor: not-allowed;
    
  }











/* PROJECTS SECTION */
.projects-section {
  display: block;
  position: relative;
  height: auto;
  width: 92vw;
  z-index: 0;
  overflow-y: auto;
  padding-left: 4%;
  padding-right: 4%;
  color: var(--color-2);
}


.projects-arrows-mobile {
  display: flex;
  height: auto;
  margin-bottom: 10px;
  font-size: var(--font-2);
  justify-content: space-between;
  transition: opacity 0.5s ease;
}

.projects-arrows-map {
  display: none;
}

.projects-arrows-spacer {
  height: 2px;
  transition: height 0.3s ease;
}


  .project-images img {
    max-height: 140px;
    margin-right: 20px;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .project-other-details{
    margin-left: 0%;
  }


  .about-section {
    margin-top: 40px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    font-size: var(--font-35);
  }

  .event{
    font-size: var(--font-5);
  }


  .project-intro-mobile {
    margin-top: 40px;
    display:block;
    padding-bottom: 30px;
    position: static;
    height: auto;
    max-width: 92vw;
  }


  .project-text{
    font-size: var(--font-35);
    margin-top: 30px;
  }



  .gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* Create 5 equal columns */
    gap: 10px;
    /* Adjust the gap between the images if needed */
  
  }
  
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5 
  .img-6,
  .img-7,
  .img-8,
  .img-9,
  .img-10 {
    width: 100%;
    /* Make all images full width */
  }
  
  .img-10 {
    grid-column: span 10;
  }
  
  .img-9 {
    grid-column: span 9;
  }
  
  .img-8 {
    grid-column: span 8;
  }
  
  .img-7 {
    grid-column: span 7;
  }
  
  .img-6 {
    grid-column: span 6;
  }
  
  .img-5 {
    grid-column: span 5;
  }
  
  .img-4 {
    grid-column: span 4;
  }
  
  .img-3 {
    grid-column: span 3;
  }
  
  .img-2 {
    grid-column: span 2;
  }
  
  .img-1 {
    grid-column: span 1;
  }
  
  video {
    width: 100%;
    height: auto; /* Ensures the video maintains its aspect ratio */
    object-fit: cover; /* Optional: Makes sure the video scales properly inside its container */
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    /* Maintain the aspect ratio */
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }
  
  video {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }






  .section-see-also {
    padding-top: 200px;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    color: var(--color-2);
    width: 92vw;
  }
  
  .see-also {
    text-align: center;
    font-size: var(--font-2);
    margin-bottom: 10px;
  }
  
  .related-projects {
    display: flex;
    flex-direction: column;
    width: auto;
    overflow: hidden;
    font-size: var(--font-5);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    padding-top: 30px;

  }
  
  .related-project-details {
    position: relative;
    border: 1px solid var(--color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-top: 0px;
    padding: 7px;
    margin-top: -1px;
  }
  
  .related-project {
    text-align: center;
    align-items: center;
    background-color: var(--color-1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    
    position: relative; /* Make the parent div relative to position the link */
  }
  
  .related-project-image {
    border: 1px solid var(--color-2);
    overflow: hidden;
    align-items: center;
    position: relative;
    height: 80px;
  }
  
  .related-project-link {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -80%); /* Center the link */
    background-color: var(--color-3);
    padding: 10px 50px;
    border-radius: 60px;
    text-decoration: none;
    z-index: 1;
    filter: drop-shadow(0px 2px 5px var(--color-2));
    font-size: var(--font-2);
  }
  
  .related-project-link:hover {
    background-color: var(--color-2);
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px var(--color-1));
  }
  
  .related-project-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }




