/* Reset default margin and disable text selection */
* {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --color-1: white;
  --color-2: black;
  --color-3: #A79B8E;
  --camera: 'ABCCameraPlain', sans-serif;
  --font-1: 40px;
  --font-2: 30px;
  --font-3: 20px;
  /*--font-4: 30px;*/
  --font-5: 16px;
  --font-6: 14px;
  --font-7: 12px;
  --spacing-base: 8px;
}

/*
html {
  cursor: url('Images/cursor/star4.png'), auto;
}

button, a {
  cursor: url('Images/cursor/star1.png'), auto;
}

*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--camera);
  background: var(--color-1);
  overscroll-behavior: none; /* Prevents the bounce effect */
  
}







/* Define custom fonts 

In this code:

    font-weight: 400 is for normal weight.
    font-weight: 500 is for medium weight.
    font-weight: 700 is for bold weight.
    font-weight: 800 is for heavy weight.
    font-weight: 900 is for black weight.
    font-style: normal is for regular style.
    font-style: italic is for italic style.
    */


@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Regular.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-RegularItalic.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Medium.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-MediumItalic.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Bold.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-BoldItalic.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Heavy.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-HeavyItalic.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Black.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-BlackItalic.woff2') format('woff2'),
       url('fonts/ABCCameraPlainEdu-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

/*More font-face definitions here...

h1 {
  font-family: var(--camera);
  font-weight: 800;
  font-size: var(--small-font);
  color: var(--blue);
}

h3 {
  font-family: var(--camera);
  font-weight: 200;
  font-size: 1.5em;
} 
*/

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* INTRO SECTION */
.intro-section {
  padding: 2%;
  display: block;
  position: relative;
  height: 25vh;
  width: 82%;
   /* Ensure this content is above the intro-gallery */
}

.name {
  font-size: var(--font-1);
  position: fixed;
  top: 20px; /* Adjusted top position to prevent overlap */
  z-index: 1000;
}

.name a {
  text-decoration: none;
  color: black;
  z-index: 1000;
}

.main-page-intro {
  font-size: var(--font-2);
  max-width: 60%;
  margin-top: 80px; /* Adjusted margin-top to provide spacing */
  z-index: 200;
  position: relative;
}

.tell-me-more-container {
  margin-top: 40px;
  z-index: 200;
  position: relative;
}

.tell-me-more-container a {
  color: var(--color-2);
  text-decoration: underline;
}

.tell-me-more {
  font-size: var(--font-2);
  max-width: 60%;
  color: var(--color-2);
  text-decoration: underline;
  z-index: 200;
  position: relative;
}



.intro-gallery {
  width: 80vw;
  margin-left: 2vw;
  height: 35vh;
  background-color: transparent;
  position: relative;
  z-index: 200;
  margin-bottom: 50px;
  
}

.intro-images {
  position: relative;
  width: 100%;
  height: 100%;
}



.intro-images a {
  display: block;
  position: absolute;
  opacity: 0; /* Initially invisible */
  transform: scale(0); /* Initially scaled down */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, z-index 0s ease-in-out;
}

.image-wrapper {
  position: absolute; /* Ensures the images stay within bounds */
  z-index: 1; /* Default z-index */
}

.scroll-minimise {
  transition: transform 0.3s ease; /* Smooth scaling */
}

.intro-images a img {
  transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 200px;
}

.intro-images a img:hover {
  transform: scale(1.3);
  z-index: 9999; /* Bring to front on hover */
}

.intro-image {
  z-index: 1; /* Default z-index */
  filter: drop-shadow(0px 2px 5px black);
}










.scroll-height {
  transition: height 0.4s ease-out;
  height: 40vh; /* Initial height */
}

.scroll-minimise {
  transform-origin: top right;
  transition: transform 0.5s ease-out;
  
}

.scroll-minimise-text {
  transform-origin: left top;
  transition: transform 0.5s ease-out;
}

.scroll-minimise-center {
  transform-origin: top center;
  transition: transform 0.5s ease-out;
}












/* SIDE MENU */


.two-menus {
  display: flex;
  position: relative;
  z-index: 280;
  padding: 2%;
  flex-direction: row-reverse;
}

.extra-menu {
  display: flex;
  position: fixed;
  z-index: 285;
  height: auto;
  width: 30%;
  top: 0%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 1%;
  margin-top: 1%;
  margin-right: calc(13vw - (13vw - 100px) / 2 + 5px); 
}

.side-menu-container {
  display: block;
  position: fixed;
  z-index: 280;
  height: auto;
  width: 13vw;
  top: 0%;
  right: 2%;
  padding-top: 1%;
  margin-top: 1%;
}

.side-menu {
  position: static;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}




.menu-button {
  color: var(--color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: var(--font-3);
}

.menu-button {
  transition: background-color 0.1s ease-in-out; /* Duration for gaining color */
}

.menu-button.lose-color {
  transition: background-color 0.8s ease-in-out; /* Duration for losing color */
}
.menu-button a {
  color: var(--color-2);
  text-decoration: none;
}

.link-reads {
  cursor: not-allowed;
}

.reads {
  color: lightgray;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: var(--font-3);
}

.pretend-button {
  background-color: white;
  border-radius: 40px;
  border: 1px solid #000;
  padding: 3px;
  opacity: 0;
}

.active-menu {
  color: var(--color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid #000;
  font-size: var(--font-3);
  background-color: white;
  filter: drop-shadow(0px 1px 4px black);

}


.menu-button:hover {
  color: var(--color-2);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid #000;
  font-size: var(--font-3);
}

.toggled {
  background-color: white;
  border: 1px solid black;
  filter: drop-shadow(0px 1px 4px black);
}

.contact-categories-container {
  display: flex;
  background-color: white;
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  width: 350px;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(+200%); /* Initially position the element off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transition both opacity and transform */
}


.contact-categories-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to its original position */
  filter: drop-shadow(0px 1px 4px black);
}


.link {
  margin-left: 2px;
  margin-right: 2px;
}

.link:hover {
  text-decoration: underline;
}

.contact-categories-container a {
  text-decoration: none;
  color: var(--color-2);
}

.mode-categories-container {
 display: flex;
  background-color: white;
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid #000;
  width: 430px;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(+200%); /* Initially position the element off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transition both opacity and transform */

}

.mode-categories-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to its original position */
  filter: drop-shadow(0px 1px 2px black);
}

.link {
  padding: 5px;

}

.mode-button {
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.mode-button:hover {
  text-decoration: underline;
}



.filter-category-title {
  font-size: var(--font-3);
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.filter-categories-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #000;
  width: 12vw;
  max-width: 12vw;
  margin-right: 2vw;
  margin-left: 2vw;
  justify-content: space-between;
  transform: translateX(+200%); /* Initially position the element off-screen to the left */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transition both opacity and transform */
}

.role-categories-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;

}

.form-categories-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.left-column{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-column{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-category-button {
  border-radius: 20px;
  border: 1px solid #000;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  margin-bottom: 7px;
  font-size: var(--font-6);
  text-align: center;
}

.role-category-button {
  border-radius: 20px;
  border: 1px solid #000;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  margin-bottom: 7px;
  font-size: var(--font-6);
  text-align: center;
}

.selected {
  background-color: #ddd; /* Change this color to whatever you prefer for selected state */
}

.filter-categories-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to its original position */
  filter: drop-shadow(0px 1px 4px black);
}

.link-map {
  font-size: var(--font-3);
  position: fixed;
  display: flex;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  width: 13vw;
  min-height: 100px;
  border-radius: 10px;
  right: 2%;
  bottom: 3%;
  z-index: 200;
  filter: drop-shadow(0px 1px 4px black);
  transition: bottom 0.5s ease-in-out;
  cursor: not-allowed;
  
}

/* PROJECTS SECTION */
.projects-section {
  display: block;
  position: relative;
  height: auto;
  width: 81vw;
  z-index: 0;
  overflow-y: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.projects-arrows {
  display: flex;
  height: auto;
  margin-bottom: 20px;
  font-size: var(--font-2);
  justify-content: space-between;
  transition: opacity 0.5s ease;
}

.projects-list{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates 2 equal columns */
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(510px, 1fr));
}

.project-container {
  margin-bottom: 20PX;
  opacity: 1; /* Fully visible by default */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for opacity and transform */
    transform: translateY(0); /* Initial position */
    margin-bottom: 50px;
}

.project-container.hidden {
  opacity: 0; /* Fully transparent */
  transform: translateY(20px); /* Slide down effect when hiding */
  pointer-events: none; /* Prevent interaction when hidden */
}

.project-images {
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  overflow-x: auto;
  padding: 30px;
  scrollbar-width: none;
  margin-bottom: 10px;


}
.back-1{
  background-image: url('Images/lect3.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.back-2{
  background-image: url('Images/image3.jpg'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}



.project-images:hover {
  animation-play-state: paused; /* Stop animation when hovered */
}

.project-images img {
  max-height: 200px;
  margin-right: 30px;
  filter: drop-shadow(5px 5px 5px #222);
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.project-other-details {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-left {
  max-width: 50%;
}

.project-title-and-year {
  display: flex;
  align-items: left;
  margin-right: 10px;
}

.project-mini-description {
  font-size: var(--font-5);
  margin-right: 5px;
  
}

.home-project-title {
  margin: 0;
  font-size: var(--font-2);
}

.project-year {
  font-size: var(--font-6);
  color: var(--color-2);
  margin-top: 0;
  margin-left: 5px;
}

.description-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.format-categories,
.role-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 5px;

}

.category {
  padding: 2px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #000;
  font-size: var(--font-7);
  text-align: center;
}

.format-category {
  border-radius: 3px;
}

.role-category {
  border-radius: 20px;
}

.view-project {
  margin-top: 10px;
  color: var(--color-2);
  text-decoration: none;
  border-radius: 5px;
  font-size: var(--font-3);
}

.view-project:hover {
  text-decoration: underline;
}


/* BOTTOM SECTION */

.footer {
  padding: 2%;
  height: 500px;
  background: linear-gradient(var(--color-1),var(--color-3));
  bottom: 0;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.top-section {
  display: block;
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 200px;
  font-size: var(--font-2);
}

.bottom-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 0;
  box-sizing: border-box;
  font-size: var(--font-5);
 
}

.footer-contact {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 25%;
  justify-content: space-between;
  padding: 5px;
}

.footer-contact a {
  text-decoration: none;
  color: black;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.developer-info {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 30%;
  padding: 5px;
  text-align: right;
  justify-content: flex-end; /* Align items to the right */
  right: 0%;
}

.get-in-touch{
  color: var(--color-2);
  text-decoration: underline;
  transition: transform 0.5s ease-out;
}

.get-in-touch:hover{
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}

















/* ABOUT SECTION */
.intro-section-regular {
  padding: 2%;
  display: block;
  position: relative;
  height: 5vh;
  width: 82%;
   /* Ensure this content is above the intro-gallery */
}

.about-section{
  width: 40%;
  margin-left: 2%;
  font-size: var(--font-3);
}

.about-section p{
  margin-bottom: 20px;
}

.about-section a{
  text-decoration: underline;
  color: var(--color-2);
}

.cv a{
  text-decoration: none;
  color: var(--color-2);
}

.cv-button {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: var(--color-2);
  transition: background-color 0.3s, color 0.3s;
}

.cv-button:hover {
  background-color: black;
  color: var(--color-1);
}

.about-education {
  margin-top: 120px;
}

.about-education-title {
  margin-bottom: 40px;
}

.about-education a{
  text-decoration: underline;
  color: var(--color-2);
}


.about-previously {
  margin-top: 120px;
}

.about-previously-title {
  margin-bottom: 40px;
}


.event {
  display: flex;
  margin-bottom: 10px;
}


.event-name {
  font-style: italic;
}

.date {
  width: 30%;
}

.details {
  width: 70%;
  text-decoration: none;
}

.details a{
  text-decoration: underline;
  color: var(--color-2);
}


/* PROJECT PAGE SECTION */


.project-section {
  margin-left: 2%;
  width: 80vw;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.project-intro {
  width: 30vw;
  position: fixed;
  padding-bottom: 100px;
  
}


.project-title {
  font-size: var(--font-1);
  margin-bottom: 40px;
  
}

.intro-columns {
  display: flex;
  justify-content: space-between;
}

.column-left {
  min-width: 15%;
}
.column-right {
  width: 20%;
}

.project-text {
  margin-top: 20px;
  font-size: var(--font-6);
}






.project-details {
  width: 50vw;
  margin-left: 32vw;
}

.gallery {
  width: auto;
}

.gallery img {
  width: 100%;
  margin-bottom: 10px;
}

.research-process {
  width: 70%;
  border: 1px solid black;
  background-color: var(--color-3);
  padding: 20px;
  margin-left: 0px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden; /* Add overflow hidden to contain the unfolded content */
  transition: max-height 0.5s ease-in-out;
  max-height: 50px; /* Initial height when folded */
  min-width: 210px;
  margin-bottom: 50px;
}

.folded {
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: var(--font-3);
}

.research-process img {
  width: 100%;
  padding-bottom: 10px;
}

.unfolded {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  padding-bottom: 100px;
}

.unfolded p{
  padding-bottom: 10px;
}

.research-process.active .unfolded {
  opacity: 1;
}




















.section-see-also {
  padding-top: 200px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.see-also {
  text-align: center;
  font-size: var(--font-2);
  margin-bottom: 120px;
}

.related-projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.related-project {
  width: 23%;
  text-align: center;
  align-items: center;
  position: relative; /* Add this to make positioning of the link relative to this container */
}

.related-project-image {
  border: 1px solid black;
  padding: 5px;
  overflow: hidden;
  align-items: center;
  position: relative; /* Add this to make positioning of the link relative to this container */
}

.related-project-image img {
  height: 200px;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.related-project-details {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding: 5px;
  margin-top: -1px;
}

.related-project-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-3);
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  text-decoration: none;
  z-index: 1;
  width: auto;
  filter: drop-shadow(0px 2px 5px black);
  
}




