/* Reset default margin and disable text selection */
* {
  margin: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  height: 100%;
  font-family: var(--camera);
  padding: 2%;
    margin: 0;
    overflow: hidden; /* Ensure no overflow outside the body */
}

:root {
  --blue: #3498db;
  --green: #2ecc71;
  --camera: 'ABCCameraPlain', sans-serif;
  --small-font: 16px;
  --spacing-base: 8px;
}





/* Define custom fonts 

In this code:

    font-weight: 400 is for normal weight.
    font-weight: 500 is for medium weight.
    font-weight: 700 is for bold weight.
    font-weight: 800 is for heavy weight.
    font-weight: 900 is for black weight.
    font-style: normal is for regular style.
    font-style: italic is for italic style.
    */


@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Regular.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-RegularItalic.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Bold.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-BoldItalic.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Black.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-BlackItalic.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Heavy.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-HeavyItalic.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-Medium.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ABCCameraPlain';
  src: url('fonts/ABCCameraPlainEdu-MediumItalic.woff2') format('woff2'),
    url('fonts/ABCCameraPlainEdu-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

h1 {
  font-family: var(--camera);
  font-weight: 800;
  font-size: var(--small-font);
  color: var(--blue);

}

h3 {
  font-family: var(--camera);
  font-weight: 200;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  /* Ensure text color is black for all states */
}

/* INTRO SECTION */
/* INTRO SECTION */
/* INTRO SECTION */
/* INTRO SECTION */
/* INTRO SECTION */

.intro-section {
  display: block;
  position: relative;
  height: 30vh;
  overflow-y: auto;
  width: 82%;
  overflow: hidden;
  z-index: 190;
}

.name {
  font-size: 40px;
  position: fixed;
  z-index: 200;
}

.name a{
  text-decoration: none;
  color: black;
}

.main-page-intro {
  font-size: 36px;;
  max-width: 60%;
  margin-top: 80px;
  
}

.tell-me-more-container {
  margin-top: 40px;

}

.tell-me-more-container a{
  color: black;
  text-decoration: underline;

}
.tell-me-more {
  font-size: 1.8em;
  max-width: 60%;
  color: black;
  text-decoration: underline;

}

.intro-gallery {
  width: 100%;
  height: 50vh; /* Use viewport height for a consistent height */
  background-color: transparent; /* Make background transparent */
  position: relative; /* Necessary for absolute positioning of children */
  z-index: -100; /* Ensure proper stacking context */
}

.intro-images a {
  position: absolute; /* Allow for random positioning */
}

.intro-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio */
}




/* SIDE MENU */
/* SIDE MENU */
/* SIDE MENU */
/* SIDE MENU */
/* SIDE MENU */

.two-menus {
  display: flex;
  position: static;

}

.extra-menu {
  display: block;
  position: fixed;
  z-index: 20;
  height: auto;
  width: 30%;
  top: 0%;
  right: 13%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding-top: 1%;
  margin-top: 1%;
  z-index: 200;
  
}

.side-menu-container {
  display: block;
  position: fixed;
  z-index: 200;
  height: 92%;
  width: 15%;
  top: 0%;
  right: 20px;
  padding-top: 1%;
  margin-top: 1%;
  
}

.side-menu {
  position: static;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.menu-button {
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 45%;
  padding: 3px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: 20px;
}

.menu-button a{
  color: black;
  text-decoration: none;
}

.work{
  background-color: white;
  border-radius: 40px;
  border: 1px solid #000;
}

.menu-button:hover {
  border-radius: 40px;
  border: 1px solid #000;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 45%;
  padding: 3px;
}

.toggled {
  background-color: white;
  border: 1px solid black;
}




.contact-categories-container {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  width: 350px;
  justify-content: space-between;
}

.contact-categories-container a {
  text-decoration: none;
  color: black;
}

.mode-categories-container {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  justify-content: space-between;
}

.mode-button {
  padding: 5px;
}





.filter-category-title {
  font-size: 1em;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;

}

.filter-categories-container {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  right: 20px;
}

.link-map {
  font-size: 20px;
  position: fixed;
  display: flex;
  color: black;
  text-align: center;
  justify-content: center; /* Horizontally center */
    align-items: center;
  background-color: white;
  border: 1px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  width: 15%;
  height: 12%;
  border-radius: 10px;
    right: 20px;
    bottom: 20px;
}






/* PROJECTS SECTION */
/* PROJECTS SECTION */
/* PROJECTS SECTION */
/* PROJECTS SECTION */
/* PROJECTS SECTION */

.projects-section {
  display: block;
  position: static;
  height: auto;
  width: 82%;

  z-index: 190;
  overflow-y: auto;
}

.projects-arrows {
  display: flex;
  height: auto;
  margin-bottom: 20px;
  font-size: 40px;
  justify-content: space-between;
  transition: opacity 0.5s ease;
}


.project-container {
  border: 1px solid #000;
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20PX;
}

.project-images {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid black;
  padding: 30px;
}

.project-images img {
  max-height: 300px;
  margin-right: 10px;
}

.project-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 5px;
}

.description-left {
  flex: 1;
}

.project-title-and-year {
  display: flex;
  align-items: left;
}

.project-title {
  margin: 0;
  font-size: 1.7em;
}

.project-year {
  font-size: 0.8em;
  color: black;
  margin-top: 0;
  margin-left: 10px;
}

.description-right {
  display: flex;
  align-items: center;
}

.format-categories,
.role-categories {
  margin-right: 10px;
}

.category {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #000;
  font-size: 0.9em;
  background-color: white;
}

.format-category {
  border-radius: 5px;
}

.role-category {
  border-radius: 20px;
}

.view-project {
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}